extends layout

block head
  script(defer type='text/javascript', src='/javascripts/login.js')

block content
  div#login.container(style="max-width: 600px")
    form
      div.form-group
        label(for="email") Email
        input#email.form-control(name="email" type="email")
      div.form-group
        label(for="password") Password
        input#password.form-control(name="password" type="password")
      input(type="submit" value="Login")